<!-- Content side -->
    <div class="container-content">
        <div class="wrapper">
            <div class="withdraw">
                <h6>Your Total Earning</h6>
                <h2>$4,587.58</h2>
                <p class="text-muted">10 Jan 2022 at 10:00 PM</p>
                <button class="btn btn-lg btn-darkblue">Withdraw</button>
            </div>

            <div class="detail-side">
                <img src="../../../assets/icons/wallet.svg" alt="">
                <div class="title-side">
                    <span>Last Month</span>
                    <h6>$34578.5</h6>
                </div>

                <img src="../../../assets/icons/briefcase.svg" alt="">
                <div class="title-side">
                    <span>Artword Sold</span>
                    <h6>256</h6>
                </div>
            </div>
        </div>
        
        <div class="top-creator">
            <h4>Top Creators</h4>

            <div class="creator-area">
                <img src="../../../assets/icons/user/9.png" alt="">
                <div class="detail-creator">
                    <a href="">
                        <span>Darlene Robertson</span>
                        <p>design@darbert.com</p>
                    </a>
                </div>
                <button class="btn btn-primary">Follow</button>
            </div>
            <div class="creator-area">
                <img src="../../../assets/icons/user/10.png" alt="">
                <div class="detail-creator">
                    <a href="#">
                        <span>Savannah Nguyen</span>
                        <p>design@darbert.com</p>
                    </a>
                </div>
                <button class="btn btn-gray">Unfollow</button>
            </div>
            <div class="creator-area">
                <img src="../../../assets/icons/user/11.png" alt="">
                <div class="detail-creator">
                    <a href="#">
                        <span>Roonald Richards</span>
                        <p>design@darbert.com</p>
                    </a>
                </div>
                <button class="btn btn-primary">Follow</button>
            </div>
        </div>
        <div class="history">
            <h4>History<span><a href="#">See All</a></span></h4>

            <div class="history-area">
                <img src="../../../assets/icons/history/1.png" alt="">
                <div class="detail-history">
                    <a href="#">
                        <span>Crowed Frobaerty</span>
                        <p>By Dorick Smith</p>
                    </a>
                </div>
                <span>Just Now</span>
            </div>
            <div class="history-area">
                <img src="../../../assets/icons/history/2.png" alt="">
                <div class="detail-history">
                    <a href="#">
                        <span>Rtso Perfilate</span>
                        <p>By Akiro Perlo</p>
                    </a>
                </div>
            </div>
            <div class="history-area">
                <img src="../../../assets/icons/history/3.png" alt="">
                <div class="detail-history">
                    <a href="#">
                        <span>Tewar Manforac</span>
                        <p>By boster Almido</p>
                    </a>
                </div>
            </div>
            <div class="history-area">
                <img src="../../../assets/icons/history/4.png" alt="">
                <div class="detail-history">
                    <a href="#">
                        <span>Litmo Crakjer</span>
                        <p>By Polios Temso</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
