<div class="header">
    <div class="container-header">
        <!-- Title Header -->
        <div class="title">
            <h2>Dashboard</h2>
            <h5>Hello Nila Vita, Welcome Back!</h5>
        </div>

        <!-- Search -->
        <div class="search">
            <form class="form-inline">
                <img src="../../../assets/icons/search.svg" alt="">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>

        <!-- User Profile | Setting -->
        <div class="user-area">
            <div>
                <a href="#"><img src="../../../assets/icons/notification.svg" alt=""></a>
                <a href="#"><img src="../../../assets/icons/settings.svg" alt=""></a>
            </div>

            <div class="detail-user">
                <span>Nella Vita</span>
                <p>User</p>
            </div>
            <img class="img-user" src="../../../assets/icons/user.png" alt="">
        </div>
    </div>
</div>
