<div class="sidebar">
    <div class="container-sidebar">
        <!-- Sidebar Brand -->
        <div class="wrapper">
            <img src="../../../assets/icons/logo.svg">
            <h4 class="brand">Enfso</h4>
            <button class="minimize">
                <img src="../../../assets/icons/more.svg">
            </button>
        </div>

        <!-- Item Sidebar Start -->
        <div class="item-sidebar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        <icon-svg class="icon-svg" name="nav-item1" [stroke]="color"></icon-svg>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <icon-svg class="icon-svg" name="nav-item2" [stroke]="color"></icon-svg>
                        Bids
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <icon-svg class="icon-svg" name="nav-item3" [stroke]="color"></icon-svg>
                        Saved
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <icon-svg class="icon-svg" name="nav-item4" [stroke]="color"></icon-svg>
                        Creators
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <icon-svg class="icon-svg" name="nav-item5" [stroke]="color"></icon-svg>
                        Wallet
                    </a>
                </li>
            </ul>
        </div>
        <!-- Item Sidebar End -->
    </div>
</div>