@import '../../../../assets/scss/common/variable';
@import '../../../../assets/scss/bootstrap/button';

.navbar{
    margin-top: 56px;
    padding: 20px 0px;

    h4{
        margin-bottom: 0px;
    }

    .nav-item{
        display: flex;
        align-items: center;
        height: 26px;
    
        &.active{
            background: #DADAE2;
            border-radius: 12px;
        }
    
        .nav-link{
            padding: 0 15px;
            color: #12142D66;
        }
    }
}

.content-trending{
    width: 214px;
    height: 274px;
    border-radius: 25px;
    background: $color-white;

    img{
        width: 214px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    span{
        font-weight: 500;
        font-size: 14px;
        color: #12142D;
    }

    .display-blur{
        display: flex;
        position: absolute;
        top: 80px;
        left: 27px;
        width: 190px;
        height: 58px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(30px);
        border-radius: 9px;
        
        .title{
            padding-left: 18px;
            padding-top: 8px;

            span{
                color: $color-white;
                font-weight: 500;
                font-size: 10px;
            }

            h6{
                color: $color-white;
                font-weight: 400;
            }
    
            p{
                color: $color-white;
                margin-top: 1px;
                font-weight: 400;
            }
        }
    }

    a{
        img{
            width: 24px;
            float: right;
        }
    }

    .user-area{
        display: flex;
        margin-top: 5px;

        img{
            width: 20px;
            height: 20px;
            border-radius: 50px;
            margin-right: 5px;
        }

        p{
            margin-top: 1px;
            font-weight: 500;
            color: #808080;
        }

    }

    .btn-property{
        display: flex;

        button{
            font-weight: 500;
            font-size: 11px;
        }

        button:last-child{
            margin-left: 10px;
        }
    }
}