<div class="navbar navbar-expand-lg">
    <h4 class="navbar-brand">Trending Bids</h4>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Collectibies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Utility</a>
        </li>
      </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/1.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Cap Balteroe</span>
                <a><img src="../../../assets/icons/unlike.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/3.png" alt="">
                    <p>Jerome Bell</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/2.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Travel Monkey Club</span>
                <a><img src="../../../assets/icons/unlike.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/4.png" alt="">
                    <p>Marvin McKinney</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/3.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>RenaiXance Rising</span>
                <a><img src="../../../assets/icons/unlike.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/5.png" alt="">
                    <p>Esther Howard</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/4.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Floridal Mastrio</span>
                <a><img src="../../../assets/icons/like.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/6.png" alt="">
                    <p>Kristin Watson</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/5.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Vrastopie Beauty</span>
                <a><img src="../../../assets/icons/unlike.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/7.png" alt="">
                    <p>Annete Black</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids/6.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Artisto Cream</span>
                <a><img src="../../../assets/icons/unlike.svg" alt=""></a>
                <div class="user-area">
                    <img src="../../../assets/icons/user/8.png" alt="">
                    <p>Arlene McCoy</p>
                </div>
                <div class="btn-property">
                    <button class="btn btn-sm btn-white">Details</button>
                    <button class="btn btn-sm btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
</div>
