<div class="navbar navbar-expand-lg navbar-light">
    <h4 class="navbar-brand">Trending Bids</h4>
    <div class="ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Collectibies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Utility</a>
        </li>
      </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids1.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
            <div class="container m-top-3">
                <span>Cap Balteroe</span>
                <div class="user-area">
                    <img src="../../../assets/icons/user2.png" alt="">
                    <p>Jerome Bell</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids2.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids3.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids4.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids5.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 m-top-5">
        <div class="content-trending">
            <img src="../../../../assets/icons/bids6.png" alt="">
            <div class="display-blur">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.67 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <p>22h 19m 48s</p>
                </div>
            </div>
        </div>
    </div>
</div>
