<div class="wrap-detail">
    <img src="../../../assets/icons/sample.png" alt="">
    <div class="detail-product">
        <h4>3D Caricatures</h4>
        <p>Product ID: 09758</p>
        <div class="user-area">
            <img src="../../../assets/icons/user/2.png" alt="">
            <div class="detail-user">
                <span>Cameron Williamson</span>
                <p>Jerome Bell</p>
            </div>
        </div>
        <div class="detail-bid">
            <div class="title">
                <span>Current Bid</span>
                <h6>2.55 ETH</h6>
            </div>
            <div class="title">
                <span>Auction Time</span>
                <h6>20h 45m 15s</h6>
            </div>
        </div>
        <div class="btn-property">
            <div>
                <a><img src="../../../assets/icons/like.svg" alt=""></a>
                <button class="btn btn-md btn-white">Details</button>
                <button class="btn btn-md btn-primary">Place a Bid</button>
            </div>
        </div>
    </div>
</div>