@import '../../../assets/scss/common/variable';
@import '../../../assets/scss/bootstrap/button';

.container-dashboard{
    display: flex;
    justify-content: space-between;
    margin-left: 32px;              

    .main-content{
        width: 700px;
        height: 360px;
        background-color: $color-white;
        border-radius: 20px;
    }

    .content-side{
        margin-top: -150px;
        width: 376px;
        height: 190vh;
        background-color: $color-white;
    }
}