<div class="container-dashboard">
    
    <!-- Main content start -->
    <div class="detail">
        <img src="../../../assets/icons/sample.png" alt="">
        <div class="detail-product">
            <h4>3D Caricatures</h4>
            <p>Product ID: 09758</p>
            <div class="user-area">
                <img src="../../../assets/icons/user1.png" alt="">
                <div class="detail-user">
                    <span>Cameron Williamson</span>
                    <p>Jerome Bell</p>
                </div>
            </div>
            <div class="detail-bid">
                <div class="title">
                    <span>Current Bid</span>
                    <h6>2.55 ETH</h6>
                </div>
                <div class="title">
                    <span>Auction Time</span>
                    <h6>20h 45m 15s</h6>
                </div>
            </div>
            <div class="btn-property">
                <div>
                    <a><img src="../../../assets/icons/like.svg" alt=""></a>
                    <button class="btn btn-md btn-white">Details</button>
                    <button class="btn btn-md btn-primary">Place a Bid</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content end -->

    <!-- <div>
        <app-trending></app-trending>
    </div> -->

    <!-- Content side -->
    <div class="content-side">
        <div class="container-content">
            <div class="wrapper">
                <div class="withdraw">
                    <h6>Your Total Earning</h6>
                    <h2>$4,587.58</h2>
                    <p class="text-muted">10 Jan 2022 at 10:00 PM</p>
                    <button class="btn btn-lg btn-darkblue">Withdraw</button>
                </div>
    
                <div class="detail-side">
                    <img src="../../../assets/icons/wallet.svg" alt="">
                    <div class="title-side">
                        <span>Last Month</span>
                        <h6>$34578.5</h6>
                    </div>

                    <img src="../../../assets/icons/briefcase.svg" alt="">
                    <div class="title-side">
                        <span>Artword Sold</span>
                        <h6>256</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>